.home-component {
  background: rgb(5,18,63);
background: linear-gradient(86deg, rgba(5,18,63,1) 39%, rgba(5,18,63,1) 80%);
display: flex;
gap: 1rem;
min-height: 100vh;
}

.home-left {
  min-width: 400px;
}

.home-main {
  background-color: rgb(5, 18, 63);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  min-width: 580px;
}

.home-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  
}

.home-right-content {
  position: fixed;
}

.user-profile {
  color: black;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 12px;
  border-radius: 12px;
  background-color: white;
  padding: 12px;
  opacity: 0.8;
}

.user-profile:hover {
  opacity: 1;
}

.user-profile-image-container {
  width: 120px;
}

.user-profile-image {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  object-fit: cover;
}

.user-profile-username {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

.ucl {
  width: 400px;
  height: 500px;
  position: fixed;
}

.searchbar {
  z-index: 50;
  color: white;
  font-size: 1.2rem;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.searchbar>div {
  flex: 1;
}

.searchbar>div>input {
  padding: 12px;
  font-weight: bold;
  font-size: 0.9rem;
}

.searchbar-button {
  padding: 12px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.searchbar-button:hover {
  background-color: white;
  color: blue;
  cursor: pointer;
}

.email-container {
  color: white;
  z-index: 50;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 10px;
}

.email-container input {
  flex: 1;
}

.email-container-input {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 4px;
}

.email-container-input input {
  flex: 1;
  padding: 6px;
  border-radius: 6px;
}

.email-container-input button {
  padding: 6px;
  border-radius: 6px;
}

@media (max-width: 800px) {
  .home-left {
    display: none;
  }
  .home-left {
    display: none;
  }
}

.see-all-posts {
  text-align: center;
  padding: 8px;
}

.see-all-posts-button {
  padding: 6px;
  font-size: medium;

  cursor: pointer;
}

.email-error {
  text-align: center;
  color: red;
}