.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  border: 1px solid;
  background-color: #141A28;
  z-index: 100;
}

ul {
  list-style-type: none;
}

.link {
  color: white;
  text-decoration: none;
}

.goalrush-title{
  font-weight: bold;
  font-style: italic;
}

.signin-link {
  color: black;
  background-color: white;
  font-style: italic;
  font-size: smaller;
  font-weight: 600;
  padding: 8px;
  border-radius: 16px;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-center-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 400px;
}

.logout-button {
  background-color: rgb(134, 60, 60);
  color: white;
  border: 1px solid rgb(130, 54, 54);
  padding: 8px;
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s;
}

.logout-button:hover {
  background-color: white;
  color: rgb(149, 51, 51);
}