.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  border-bottom: 1px solid rgb(99, 98, 98);
  background-color: #284475;
  z-index: 100;
}

ul {
  list-style-type: none;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  color:#a3b7db
}

.goalrush-title{
  font-weight: bold;
  font-style: italic;
}

.signin-link {
  color: black;
  background-color: white;
  font-style: italic;
  font-size: smaller;
  font-weight: 600;
  padding: 8px;
  border-radius: 16px;
  transition: color 0.2s, background-color 0.2s;
}

.signin-link:hover {
  color: rgb(255, 253, 253);
  background-color: rgb(41, 39, 38);
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-center-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.logout-button {
  background-color: rgb(134, 60, 60);
  color: white;
  border: 1px solid rgb(130, 54, 54);
  padding: 8px;
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s;
}

.logout-button:hover {
  background-color: white;
  color: rgb(149, 51, 51);
}