.news-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background-color: #fff;
  text-align: left;
}

.news-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.news-source {
  font-size: 14px;
  margin-bottom: 15px;
  color: #666;
}

.news-link {
  font-size: 14px;
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

.news-link:hover {
  text-decoration: underline;
}
